body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: #E5E7EB;
  padding-left: 16px;
}

img {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  background-color: #3882F6;
  font-family: Inconsolata;
  padding: 5px 10px;
  border-color: #3882F2;
  border-radius: 20px;
}

.header {
  background-color: #1F2937;
  display: flex;
  color: #E5E7EB;
  padding: 16px;
  font-size: 12px;
  padding-left: 100px;
  padding-right: 100px;
}

.Logo {
  font-size: 25px;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
  display: flex;
}

.title-banner {
  flex: 1;
  padding-right: 24px;
}

.title-image {
  flex: 1;
  color: black;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 48px;
  font-weight: bold;
  padding-right: 24px;
}

.title-subtext {
  color: #E5E7EB;
}

.SignUp {
  margin-top: 10px;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 80px;
  color: #1F2937;
}

.content1-header {
  margin: 54px;
  font-size: 24px;
  font-weight: bold;
}
.card-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  text-align: center;
}

.card-img {
  background-color: lightgrey;
  padding: 35px;
  flex: 0 0 2em;
  border-radius: 10px;
}

.card-subtext {
  padding: 8px;
}

.content2 {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #E5E7EB;
  color: #1F2937;
}

.author {
  font-weight: bold;
  text-align: end;
}

.content3 {
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
}

.info-banner {
  background-color: #3882F6;
  padding: 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}

.line {
  display: flex;
  font-size: 15px;
  font-weight: normal;
}
.signup2 {
  margin-left: auto;
  border-color: #E5E7EB;
  background-color: #E5E7EB;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  font-family: Inconsolata;
  padding: 20px;
  color: white;
  font-size: 12px;
}
